name: Scala Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
      - name: Set up Eclipse Temurin - JDK 23
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '23'
          distribution: 'temurin'
      - name: Test
        run: sbt test
